<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}!{{else}}Eaaaat Sommeething!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE or feed to dog!</button>
</li>
